<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Library</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/mystyle.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<body>
    <div class="bodydiv">
        <nav class="navbarcustom navbar navbar-expand-sm  navbar-dark navbarcustom">
            <div class=" li-text">
                <ul class="nav navbar-nav li-text">
                    <% for(var i=0;i<nav.length;i++){%>
                        <li>
                            <a href="<%=nav[i].link%>" class="li-text">
                                <%=nav[i].tittle%>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
        </nav>
        <div class="divUnderNav">
            <h1 class="content-tittle">
                <%=tittle%>
            </h1>
        </div>

        <div class="bookcontiner" id="card-cont">
            <center>
                <p class="book-head">
                    <%=auther.name%>
                </p>
                <center><br>
                    <table>
                        <tr>
                            <img src="/imagesAndIcons/authers/<%=auther.img%>" class="autherimage" alt="Can't load image" width="25%" height="45%">
                            <br>
                            <br>
                        </tr>
                        <tr>
                            <td>
                                <div class="under"></div>
                                <p class="web-tittle">
                                    <%=auther.dob%>
                                </p>

                                <p class="para-style">
                                    <%=auther.disc%>
                                </p>
                                <p class="web-tittle">Books:
                                    <%=auther.books%>
                                </p>
                                <p class="web-tittle">Awards:
                                    <%=auther.awards%>
                                </p>
                            </td>
                        </tr>
                    </table>
        </div>
    </div>
</body>

</html>