<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Library</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/mystyle.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<body>
     <nav class="navbarcustom navbar navbar-expand-sm  navbar-dark navbarcustom">
                <div class=" li-text">
                    <ul class="nav navbar-nav li-text">
                        <% for(var i=0;i<nav.length;i++){%>
                            <li>
                                <a href="<%=nav[i].link%>" class="li-text">
                                    <%=nav[i].tittle%>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
            </nav>   
    <div class="bodydivbooks">
            <%for(var i=0;i<books.length;i++){%>
                <div class="card-content">
                    <table>
                        <tr>
                            <td> <img src="/imagesAndIcons/<%=books[i].img%>" class="rounded-circle" alt="Cinque Terre" width="25%" height="25%">
                            </td>
                            <td>
                                <p class="book-head">Book name:
                                    <%=books[i].tittle%>
                                </p>
                                <p class="web-tittle">Auther:
                                    <%=books[i].author%>
                                </p>
                                <div>
                                    <p class="para-style">genere:
                                        <%=books[i].genere%>
                                    </p>
                                </div>
                                <div>
                                    <p class="para-style"><a href="/books/<%=i%>">Read more</a></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <%}%>
        </div>
</body>
</body>

</html>