<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Library</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/mystyle.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<body>
    <div class="bodydiv">
        <nav class="navbarcustom navbar navbar-expand-sm  navbar-dark navbarcustom">
            <div class=" li-text">
                <ul class="nav navbar-nav li-text">
                    <% for(var i=0;i<nav.length;i++){%>
                        <li>
                            <a href="<%=nav[i].link%>" class="li-text">
                                <%=nav[i].tittle%>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
        </nav>
        <div class="divUnderNav">
            <h1 class="content-tittle">
                <%=tittle%>
            </h1>
        </div>

        <div class="bookcontiner" id="card-cont">
            <h1>
                <%=book.tittle%>
            </h1>
            <div class="underline"></div>
            <h3>
                <%=book.author%>
            </h3>
            <h4>Genere:
                <%=book.genere%>
            </h4><br>
            <h5>
                <%=book.content%>
            </h5>
        </div>

    </div>
</body>

</html>